.container {
  padding: 20px;
}

.mat-table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.left-buttons {
  display: flex;
  gap: 1rem;
}

.language-selector {
  min-width: 150px;
}