<div class="header-container">
  <div class="left-buttons">
    <button mat-raised-button color="primary" (click)="openAddCrewDialog()">
      Add New Crew
    </button>

    <button mat-raised-button routerLink="/certificate-types" style="margin-left: 1rem">
      Manage Certificate Types
    </button>
  </div>

  <div class="language-selector">
    <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="switchLanguage($event.value)">
      <mat-option value="en">English</mat-option>
      <mat-option value="fr">Français</mat-option>
      <mat-option value="pt">Português</mat-option>
    </mat-select>
  </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let crew">
        <!-- Delete Button -->
        <button mat-button color="warn" (click)="deleteCrewMember(crew.id)">Delete</button>
        
        <!-- Open Crew Detail Button -->
        <button mat-button (click)="openCrewDetail(crew.id)" matTooltip="Open Crew Detail">
          <mat-icon>info</mat-icon> <!-- Replace 'info' with any icon of your choice -->
        </button>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.id }} </td>
    </ng-container>
  
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> {{ labels.firstName }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> {{ labels.lastName }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
    </ng-container>
  
    <!-- Nationality Column -->
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> {{ labels.nationality }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> {{ labels.title }} </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
    </ng-container>
  
    <!-- Days On Board Column -->
    <ng-container matColumnDef="daysOnBoard">
      <th mat-header-cell *matHeaderCellDef> Days On Board </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
    </ng-container>
  
    <!-- Daily Rate Column -->
    <ng-container matColumnDef="dailyRate">
      <th mat-header-cell *matHeaderCellDef> Daily Rate </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} </td>
    </ng-container>
  
    <!-- Currency Column -->
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
    </ng-container>
  
    <!-- Total Income Column -->
    <ng-container matColumnDef="totalIncome">
      <th mat-header-cell *matHeaderCellDef> Total Income </th>
      <td mat-cell *matCellDef="let crew"> {{ crew.totalIncome }} </td>
    </ng-container>

      <!-- Certificates Column -->
  <ng-container matColumnDef="certificates">
    <th mat-header-cell *matHeaderCellDef> Certificates </th>
    <td mat-cell *matCellDef="let crew">
      <button mat-button (click)="openCertificatesModal(crew.certificates)">
        {{ crew.certificates.length }} Certificates
      </button>
    </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  